<div class="grid-100" id="header">
  <p>Simple Pricing.<br>Try before you buy.</p>
</div>
<div class="grid-100 pricingDiv">
  <div class="grid-5">
    &nbsp;
  </div>
  <div class="grid-30">
    <div id="green">
      <font class="plan">PERSONAL</font><br>
      <font class="price">$5</font><br>
      <font class="paymentPeriod">PER MONTH</font>
    </div>
    <div class="grid-100" id="clear">
      Free setup
    </div>
    <div class="grid-100" id="clear">
      Custom sub-domain
    </div>
    <div class="grid-100" id="clear">
      Standard customer support
    </div>
    <div class="grid-100" id="clear">
      1GB file storage
    </div>
    <div class="grid-100" id="clear">
      1 database
    </div>
    <div class="grid-100" id="clear">
      Unlimited bandwidth
    </div>
    <div class="grid-100" id="clear">
      <button id="choose">Choose</button>
    </div>
  </div>
  <div class="grid-30">
    <div id="blue">
      <font class="plan">SMALL BUSINESS</font><br>
      <font class="price">$25</font><br>
      <font class="paymentPeriod">PER MONTH</font>
    </div>
    <div class="grid-100" id="clear">
      Free setup
    </div>
    <div class="grid-100" id="clear">
      Use your own domain
    </div>
    <div class="grid-100" id="clear">
      Standard customer support
    </div>
    <div class="grid-100" id="clear">
      10GB file storage
    </div>
    <div class="grid-100" id="clear">
      5 databases
    </div>
    <div class="grid-100" id="clear">
      Unlimited bandwidth
    </div>
    <div class="grid-100" id="clear">
      <button id="choose">Choose</button>
    </div>
  </div>
  <div class="grid-30">
    <div id="black">
      <font class="plan">ENTERPRISE</font><br>
      <font class="price">$45</font><br>
      <font class="paymentPeriod">PER MONTH</font>
    </div>
    <div class="grid-100" id="clear">
      Free setup
    </div>
    <div class="grid-100" id="clear">
      Use your own domain
    </div>
    <div class="grid-100" id="clear">
      Premium customer support
    </div>
    <div class="grid-100" id="clear">
      Unlimited file storage
    </div>
    <div class="grid-100" id="clear">
      25 databases
    </div>
    <div class="grid-100" id="clear">
      Unlimited bandwidth
    </div>
    <div class="grid-100" id="clear">
      <button id="choose">Choose</button>
    </div>
  </div>
  <div class="grid-5">
    &nbsp;
  </div>
  <!-- end of payment plans -->
  <div class="grid-100">
    <div class="grid-10">
      &nbsp;
    </div>
    <div class="grid-40">
      <h3>GET STARTED TODAY</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="grid-40">
      <h3>PAY MPNTHLY OR ANNUALLY</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="grid-10">
      &nbsp;
    </div>
  </div>
  <!-- row -->
  <div class="grid-100">
    <div class="grid-10">
      &nbsp;
    </div>
    <div class="grid-40">
      <h3>24/7 CUSTOMER SUPPORT</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="grid-40">
      <h3>CANCEL YOUR PLAN ANYTIME</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="grid-10">
      &nbsp;
    </div>
  </div>
</div>
